
.input {
    border: none;
    outline: none;
    height: 100%;
}
.wrapper {
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    overflow: hidden;
    padding: 0 10px;
}

