.table {
    border: 1px solid #c2c2c2;
    border-collapse: collapse;
}

.cell {
    border: 1px solid #c2c2c2;
    padding: 5px;
    min-width: 50px;
    text-align: center;
}
.headCell {
    @extend .cell;
    background-color: rgb(193, 222, 255);
}
.nameCell {
    @extend .cell;
    background-color: rgb(231, 231, 231);
}


.okCell{
    @extend .cell;
    background-color: rgb(32, 252, 69);
}
.wrongCell{
    @extend .cell;
    background-color: rgb(255, 73, 73);
}
.head {
    @extend .cell;
    background-color: rgb(203, 255, 193);
    padding: 10px;
}